/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto Slab', serif; */

body {
    /* background: #2D3A3A; */
    background: #040F0F;
    font-family: 'Raleway', sans-serif;
}

#mainnavbar .navbar-brand {
    color: #97BFD8;
    font-size: 1.5rem;
    font-weight: 100;
}

#mainnavbar .nav-link {
    color: white;
}

#mainnavbar .nav-link:hover {
    color: #97BFD8;
}

/* h1 {
    font-family: 'Roboto Slab', serif;
    color: white;
} */

#headingGroup span {
    color: #97BFD8;
    /* font-family: 'Raleway', sans-serif; */
}

#headingGroup h1 {
    margin-bottom: 0%;
    font-weight: 100;
    font-size: 4rem;
    /* font-family: 'Roboto Slab', serif; */
}

/* resize headingGroup's h1 when the viewport's max-width becomes 1200px */
@media (max-width: 1400px) {
    #headingGroup h1 {
        margin-bottom: 0%;
        font-weight: 100;
        font-size: 3rem;
        /* font-family: 'Roboto Slab', serif; */
    }
}

@media (max-width: 991px) {
    #mainnavbar .navbar-brand {
        color: black;
        font-size: 1.5rem;
        font-weight: 100;
    }

    #mainnavbar .nav-link:hover {
        color: black;
    }
}

.blurb h2 {
    color: #97BFD8;
    font-size: 2.5rem;
}

.blurb p {
    font-size: 1.25rem;
    line-height: 2.0;
}


.content {
    margin-top: 100px;
}
